<% include partials/admin_head.ejs %>
<% include partials/admin_header.ejs %>
<main role="main">
    <% include partials/admin_nav.ejs %>
    <section>
        <a class="newData" href="/admin/product/new">Create a new product</a>
        <table>
            <tr>
                <th>ID</th>
                <th>Picture</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Weight</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Edit / Delete</th>
            </tr>
            <% results.forEach(result => { %>
            <tr>
                <td>
                    <%= result.id %>
                </td>
                <td>
                    <img src="../images/uploads/<%= result.path %>" alt="">
                </td>
                <td>
                    <%= result.name %>
                </td>
                <td>
                    <%= result.description %>
                </td>
                <td>
                    <%= result.price %>
                </td>
                <td>
                    <%= result.weight %>
                </td>
                <td>
                    <%= result.amount %>
                </td>
                <td>
                    <%= result.category %>
                </td>
                <td>
                    <div>
                        <a href="/admin/product/edit/<%= result.id %>">
                            <p>Edit</p><i class="fas fa-edit"></i>
                        </a>
                        <hr>
                        <a href="/admin/product/delete/<%= result.id %>">
                            <p>Delete</p><i class="fas fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <% }); %>
        </table>
    </section>
</main>

<% include partials/admin_footer.ejs %>